[include]
  path = ~/.gitconfig.local
[core]
  excludesfile = ~/.gitignore
  editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only --features=interactive
[delta]
  features = decorations
  side-by-side = true
[delta "interactive"]
  keep-plus-minus-markers = false
[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax
[color]
  ui = true
[diff]
  tool = vimdiff
  compactionHeuristic = true
  noprefix = true
[pull]
  ff = only
[init]
  defaultBranch = main
[merge]
  tool = vimdiff
[mergetool "vimdiff"]
  path = nvim
[credential]
  helper = /usr/local/bin/git-credential-manager
[credential "https://dev.azure.com"]
  useHttpPath = true
