[include]
  path = ~/.gitconfig.local
[core]
  excludesfile = ~/.gitignore
  editor = nvim
[color]
  ui = true
[diff]
  tool = vimdiff
  compactionHeuristic = true
  noprefix = true
[pull]
  ff = only
[init]
  defaultBranch = main
[merge]
  tool = vimdiff
[mergetool "vimdiff"]
  path = nvim
